<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothstoragetdp;AccountKey=UYEHhJTyMdyMfzjcDk6nrw4CDLfeC75L19a42gfex1hf5B0kQlTtPbGJhnP/2VnK+vZU3Xr65rwulsZ0++/mkw==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>